### IntelliJ Idea ###
*.iml
.idea/
.settings/

### Auto generated folders ###
api/target/
omod/target/
#############

### Java ###
*.class

# Java Package Files #
*.jar
*.omod
*.war
*.ear
############
